@charset "utf-8";

body{
          font-family: 'Noto Sans JP', sans-serif, "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
          font-size: 18px;
          line-height: 1.5;
          color: #333;
}

.basic, .individual{
          background: #ffffff;
          padding-top: 50px;
          padding-bottom: 50px;
          padding-left: 7.5%;
          padding-right: 7.5%;
}

.group, .us{
          background: #f5f5f5;
          padding-top: 30px;
          padding-bottom: 30px;
          padding-left: 7.5%;
          padding-right: 7.5%;
}

.basic_head, .group_head, .individual_head, .about_us_head{
          text-align: center;
          font-size: 48px;
          font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------------- */
/*    About us */

.us ul{
          font-size: 25px;
          margin-left: 15%;
}
.us li{
          line-height: 1.5;
          list-style-type: none;
          position: relative;
}

.us li::before{
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translateY(-50%);
          width: 0px;
          height: 0px;
          border: 0.3em solid transparent;
          border-left: 0.4em solid #3388dd;
          content: "";
}

.us > ul span{
          color: #2a4de8;
          font-weight: bold;
          font-size: 25px;
          margin-right: 10%;
          margin-left: 2.5%;
}






/*-----------------------------------Basic Activity------------------------------------- */

.basic_text{
          font-size: 24px;
          font-weight: bold;
          padding: 7px 15px 7px 15px;
          margin-bottom: 10px;
          border: 2.5px dashed #606163;
          border-radius: 35px;
          width: 220px;
          text-align: center;
          font-weight: bold;
          box-shadow: 3px 7px 4px;
          transition: 0.5s;
}

.basic_text span, .basic_additional span{
          margin-left: 30px;
          font-size: 28px;
}

.basic_text:hover{
          box-shadow: none;
          background: #e1e6e2;
}

.basic_wrapper{
          margin: 0 5% 5px 3%;
}

.basic_content{
          display: flex;
}

.basic_list{
          list-style: none;
          margin-left: 30px;
          color: #2a4de8;
}

.basic_additional{
          font-size: 24px;
          font-weight: bold;
          padding: 7px 15px 7px 15px;
          margin-top: 30px;
          border: 2.5px dashed #606163;
          border-radius: 35px;
          width: 295px;
          text-align: center;
          box-shadow: 3px 7px 4px;
          transition: 0.5s;
}

.basic_additional:hover{
          box-shadow: none;
          background: #e1e6e2;
}

.basic_text>a, .basic_additional>a{
          text-decoration: none;
          color: #000000;
          display: block;
}



/* ----------------------------------Group Study----------------------------------------- */

.group_board{
          margin: 0;
          padding: 15px 15px 15px 15px;
          background: #cd853f;
          border: 1.5px solid #d2691e;
          overflow-y: auto;
          scrollbar-width: none; /*Firefox対応のスクロールバー非表示コード*/  
          -ms-overflow-style: none;/*Internet Explore対応のスクロールバー非表示コード*/
          height: 400px;
}

.group_board::-webkit-scrollbar {  
          display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}

.group_board{
          display: grid; /* カードの横並び */
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
          gap: 20px 25px; /* カード同士の隙間 縦方向 横方向 */
          margin: 30px auto 0;
          padding-left: 2.5%;
          padding-right: 2.5%;
          padding-bottom: 30px;
          padding-top: 25px;
          justify-items: center;

}

.group-item{
          height: 300px;
          width: 200px;
          border: 2.5px groove #a9a9a9;
          border-radius: 5%;
          overflow: hidden;
          box-sizing: content-box;
          box-shadow: 7px 10px 6px;
          transition: .75s;
          background: #ffffff;
}

.group-link{
          text-decoration: none;
          color: #000000;
          display: block;
}

.group-item:hover{
          box-shadow: none;
          background: #e1e6e2;
}

.group-img{
          width: 100%;
          vertical-align: bottom;
}

.group-card-title{
          text-align: center;
          padding-left: 10px;
          padding-right: 10px;
          transform: translate(0, -15px);
          font-size: 20px;
}

.group-text{
          margin: 0;
          padding: 0;
          height: 163px;
          overflow-y: auto;
          overflow-wrap: break-word;
          scrollbar-width: none;  
          -ms-overflow-style: none;
}

.group-text::-webkit-scrollbar {  
          display: none;
}

.group-description{
          margin-left: 5px;
          margin-right: 5px;
          text-align: center;
          transform: translate(0, -27px);
          font-size: 15px;
}

/* ----------------------------------Individual Study---------------------------------------- */






